<form id="commentForm" action="#/create/comment" method="post">
    <label>Comment</label>
    <input type="hidden" name="postId" value="{{post._id}}" />
    <textarea name="content" type="text"></textarea>
    <input type="submit" value="Add Comment" id="btnPostComment">
</form>