<div class="row">
    <div class="col wide">{{creationDate}}</div>
    <div class="col wide">{{productsCount}}</div>
    <div class="col">{{total}}</div>
    <div class="col">
        <a href="#/details/{{_id}}">Details</a>
    </div>
</div>