<form id="formSubmitChirp" class="chirp-form" action="#/create" method="post">
    <textarea name="text" class="chirp-input"></textarea>
    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
</form>