<section id="register">
    <div class="container centered">
        <div class="box">
            <h1>Register</h1>
            <div class="content">
                <form id="register-form" action="#/register" method="post">
                    <label for="newUsername">Username</label>
                    <input id="newUsername" name="username" type="text">
                    <label for="newPassword">Password</label>
                    <input id="newPassword" name="password" type="password">
                    <label for="newPassRep">Repeat Password</label>
                    <input id="newPassRep" name="repeatPassword" type="password">
                    <label for="fullName">Full Name</label>
                    <input id="newFullName" name="fullName" type="text">
                    <label for="newEmail">Email</label>
                    <input id="newEmail" name="email" type="text">
                    <label for="newPhone">Phone</label>
                    <input id="newPhone" name="phone" type="text">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</section>